@charset "UTF-8";
/* ===== section title ===== */
.section__title-wrapper {
    /* margin: 130px 0 96px; */
    padding: 130px 0 100px;
}

.section__title {
    text-align: center;
    position: relative;
}

.section__title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: var(--color-accent-green);
    right: 0;
    left: 0;
    bottom: -32px;
    margin: 0 auto;
}

.title__txt {
    color: var(--color-accent-green);
    font-family: var(--ja-font-notoSansJp);
    font-weight: 700;
    font-size: var(--ja-pc-size-medium);
    line-height: 1;
    letter-spacing: 0.05rem;
}

.title__main {
    font-family: var(--en-font-reross);
    font-weight: 400;
    font-size: var(--en-pc-size-medium);
    line-height: 1;
    letter-spacing: 0.05rem;

    margin-top: 16px;
}

.parallax {
    position: relative;
    height: clamp(12.5rem, -5.357rem + 37.2vw, 28.125rem);
    z-index: -1;
}

.parallax__img {
    display: block;
    position: absolute;

    /* max-width: none; */
    width: 100%;
    /* top: 200px; */
}

/* 768 sp */
@media screen and (max-width: 768px) {
    .section__title-wrapper {
        padding: 64px 0 80px;
    }
    
    .section__title::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background: var(--color-accent-green);
        right: 0;
        left: 0;
        bottom: -24px;
        margin: 0 auto;
    }
    
    .title__txt {
        font-size: var(--ja-sp-size-medium);
    }
    
    .title__main {
        font-size: var(--en-sp-size-medium);
    
        margin-top: 12px;
    }

    .parallax {
        height: 250px;
        overflow: hidden;
    }

    .parallax__img {
        display: block;
        /* position: absolute; */
    
        max-width: none;
        width: 150%;
        /* left: -7em; */
    }
}



.top-page__btn {
    display: block;
    width: 120px;
    height: auto;

    position: fixed;
    right: 60px;
    bottom: 272px;
    z-index: 100;
}

/* 768 sp */
@media screen and (max-width: 768px) {
    .top-page__btn {
        display: block;
        width: 70px;
        height: auto;
    
        position: fixed;
        right: 15px;
        bottom: 315px;
        z-index: 100;
    }
}