@charset "UTF-8";

/* ========== header ========== */
.header__container {
    background-color: var(--color-base-black);

    display: flex;
    padding: 15px 71px 12px 31px; 
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 118px;
    height: auto;
}

.header__nav-list {
    display: flex;
    gap: 40px;
}

.header__nav-item {
    color: var(--font-color-white);
    font-family: var(--en-font-reross);
    font-size: var(--en-pc-size-base);
    line-height: 1;
    letter-spacing: 0.03;
}

.header__nav-item a {
    position: relative;
}

.header__nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    /* 最初は隠しておく */
    transform: scale(0, 1);
    height: 2px;
    background: var(--color-accent-green);
    transition: transform 0.2s;
}

.header__nav-item a:hover::after {
    transform: scale(1, 1);
}


/* header SP */
@media screen and (max-width: 768px) {
    .header__inner {
        background-color: var(--color-base-black);
    
        display: flex;
        padding: 15px 16px 16px; 
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        width: clamp(3.438rem, -0.32rem + 16.03vw, 7.375rem);
        height: auto;
    }

    .header__nav-list {
        gap: 20px;
    }

    .header__nav-item {
        font-size: var(--en-sp-size-base);
    }
}
/* ========== header end ========== */
