@charset "UTF-8";
.about {
    background-color: var(--color-main-white);
}

.about__container {
    width: fit-content;
    max-width: 100%;
    margin-inline: auto;
    padding: 0 0 12.5%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.about__description {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.about__description:nth-of-type(1) {
    gap: 67px;
}

.about__description:nth-of-type(2) {
    /* gap: 195px; */
    gap: clamp(3.75rem, -5.893rem + 20.09vw, 12.188rem);
    flex-direction: row-reverse;
}

.about__description:nth-of-type(3) {
    gap: 71px;
}

.about__description--first::before {
    position: absolute;
    content: "01";
    color: #FFFFFFCC;
    font-family: var(--en-font-reross);
    font-weight: 400;
    font-size: clamp(11.25rem, 3.536rem + 16.07vw, 18rem);
    line-height: 1;
    letter-spacing: 0.06rem;
    /* right: 30px; */
    left: 69.44%;
    z-index: -1;
    white-space: nowrap;
}

.about__description--second::before {
    position: absolute;
    content: "02";
    color: #FFFFFFCC;
    font-family: var(--en-font-reross);
    font-weight: 400;
    font-size: clamp(11.25rem, 3.536rem + 16.07vw, 18rem);
    line-height: 1;
    letter-spacing: 0.06rem;
    right: 47.22%;
    z-index: -1;
    white-space: nowrap;
}

.about__description--third::before {
    position: absolute;
    content: "03";
    color: #FFFFFFCC;
    font-family: var(--en-font-reross);
    font-weight: 400;
    font-size: clamp(11.25rem, 3.536rem + 16.07vw, 18rem);
    line-height: 1;
    letter-spacing: 0.06rem;
    left: 67.59%;
    z-index: -1;
    white-space: nowrap;
}

.about__img {
    display: block;
    width: clamp(12.5rem, -5.357rem + 37.2vw, 28.125rem);
    /* max-width: 450px; */
    height: auto;
    flex-shrink: 1;
}

.desc__title {
    font-family: var(--ja-font-notoSansJp);
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.05rem;
    
}

.desc__title span {
    color: var(--color-accent-green);
}

.desc__text {
    max-width: 400px;

    font-family: var(--ja-font-notoSansJp);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03rem;
    margin-top: 24px;
}

/* 768px sp */
@media screen and (max-width: 429px) {

    .about__container {
        width: fit-content;
        max-width: 100%;
        margin-inline: auto;
        padding: 0 16px 64px;
        display: flex;
        flex-direction: column;
        gap: 56px;
    }

    .about__description {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    .about__description:nth-of-type(1),
    .about__description:nth-of-type(3){
        gap: 32px;
    }

    .about__description:nth-of-type(2) {
        gap: 32px;
        /* gap: clamp(3.75rem, -5.893rem + 20.09vw, 12.188rem); */
        flex-direction: column-reverse;
    }

    .about__description--first::before {
        position: absolute;
        content: "01";
        font-size: 180px;
        letter-spacing: 0;
        /* right: 30px; */
        left: 50%;
        bottom: 200px;

        /* display: none; */
    }
    
    .about__description--second::before {
        position: absolute;
        content: "02";
        font-size: 180px;
        letter-spacing: 0;
        left: 42%;
        bottom: 200px;
    }
    
    .about__description--third::before {
        position: absolute;
        content: "03";
        font-size: 180px;
        letter-spacing: 0;
        left: 42%;
        bottom: 200px;

        /* display: none; */
    }

    .about__img {
        max-width: 400px;
        width: 100%;
        flex-shrink: 1;
    }
    
    .desc__title {
        font-size: 24px;
    }
    
    .desc__title span {
        color: var(--color-accent-green);
    }
    
    .desc__text {
        max-width: 400px;
    
        font-size: 16px;
        margin-top: 24px;
    }
}

/* 430px sp */
@media screen and (min-width: 430px) and (max-width: 768px) {
    .about__container {
        width: fit-content;
        max-width: 100%;
        margin-inline: auto;
        padding: 0 16px 64px;
        display: flex;
        flex-direction: column;
        gap: 56px;
    }

    .about__description {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    .about__description:nth-of-type(1),
    .about__description:nth-of-type(3){
        gap: 32px;
    }

    .about__description:nth-of-type(2) {
        gap: 32px;
        /* gap: clamp(3.75rem, -5.893rem + 20.09vw, 12.188rem); */
        flex-direction: column-reverse;
    }
    
    .about__description--first::before {
        position: absolute;
        content: "01";
        font-size: 180px;
        letter-spacing: 0;
        left: 57%;
        bottom: 240px;
    }
    
    .about__description--second::before {
        position: absolute;
        content: "02";
        font-size: 180px;
        letter-spacing: 0;
        left: 50%;
        bottom: 240px;
    }
    
    .about__description--third::before {
        position: absolute;
        content: "03";
        font-size: 180px;
        letter-spacing: 0;
        left: 50%;
        bottom: 240px;
    }

    .about__img {
        max-width: 400px;
        width: 100%;
        flex-shrink: 1;
    }
    
    .desc__title {
        font-size: 24px;
    }
    
    .desc__title span {
        color: var(--color-accent-green);
    }
    
    .desc__text {
        max-width: 400px;
    
        font-size: 16px;
        margin-top: 24px;
    }
}
