@charset "UTF-8";
.contact {
    background-image: url(../image/img_contact.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 130px 16px;
}

.contact__wrapper {
    background-color: var(--color-main-white);
    max-width: 800px;
    margin: 0 auto;

    padding: 0 16px 72px;
}

.section__title-wrapper--contact {
    padding: 64px 0 80px;
}

.contact__text-wrapper {
    text-align: center;
}

.contact__text {
    font-family: var(--ja-font-notoSansJp);
    font-weight: 400;
    font-size: var(--ja-pc-size-base);
    line-height: 1;
    letter-spacing: 0.03rem;

    display: inline-block;
    text-align: left;
}

.name,
.email,
.phone,
.message {
    display: flex;
    flex-direction: column;
    gap: 4px;

    max-width: 520px;
    width: 100%;
}

.input__area::placeholder,
.textarea__area::placeholder {
    color: #BDBDBD;
    
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-top: 48px;
}

label {
    color: var(--font-color-black);
    font-family: var(--ja-font-notoSansJp);
    font-weight: 400;
    font-size: var(--ja-pc-size-medium);
    line-height: 1.4;
}

.required {
    background-color: var(--color-accent-green);
    color: var(--font-color-white);
    font-family: var(--ja-font-notoSansJp);
    font-weight: 400;
    font-size: var(--ja-pc-size-small);
    line-height: 1;
    border-radius: 6px;

    margin-left: 16px;
    padding: 3px 7px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox-label {
    font-family: var(--ja-font-notoSansJp);
    font-weight: 400;
    font-size: var(--ja-pc-size-medium);
    line-height: 1.5;
    letter-spacing: 0.05rem;
}

.privacy-policy__btn {
    appearance: none;
    border: none;
    background: transparent;

    padding: 0;
    margin: 0;

    color: var(--color-accent-green);
    text-decoration: underline;

    font: inherit;
    cursor: pointer;

    transition: opacity .3s ease;
}

.privacy-policy__btn:hover {
    opacity: 0.7;
}

/* 768px sp */
@media screen and (max-width: 768px) {

    .contact {
        padding: 64px 16px;
    }

    .contact__text {
        font-size: var(--ja-sp-size-base);
    }

    .checkbox-label {
        font-size: var(--ja-sp-size-base);
        line-height: 1.5;
        letter-spacing: 0.05rem;
    }

    .label {
        font-size: var(--ja-sp-size-base);
        line-height: 1;
    }

    .required {
        font-size: var(--ja-sp-size-small);
        line-height: 1;
        border-radius: 6px;
    
        margin-left: 16px;
        padding: 3px 7px;
    }
    
}





/* 入力欄　デザイン */

.input__area,
.textarea__area {
    border: 1px solid #8d8d8d;
    outline: none;

    transition:
        border-color .2s ease,
        box-shadow .2s ease;
}

.input__area:hover,
.textarea__area:hover {
    border-color: #16a34a;

    box-shadow:
        0 0 0 2px rgba(22, 163, 74, 0.15),
        0 0 6px rgba(22, 163, 74, 0.25);
}

.input__area:focus,
.textarea__area:focus {
    border-color: #16a34a;

    box-shadow:
        0 0 0 2px rgba(22, 163, 74, 0.15),
        0 0 6px rgba(22, 163, 74, 0.25);
}

.input__area {
    height: 50px;
    padding-left: 23px;
}

.textarea__area {
    padding: 13px 23px;
}





/* チェックボックス　デザイン */

.checkbox input[type="checkbox"] {
    appearance: none;

    width: 30px;
    height: 30px;

    border: 1px solid #000;
    background: #fff;

    cursor: pointer;
    position: relative;

    transition: all .2s ease;
}

.checkbox input[type="checkbox"]:hover {
    border-color: #16a34a;

    box-shadow:
        0 0 0 3px rgba(22, 163, 74, 0.15),
        0 0 8px rgba(22, 163, 74, 0.25);
}

.checkbox input[type="checkbox"]:active {
    background-color: #15974126;
}

.checkbox input[type="checkbox"]:checked::after {
    content: "✓";

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -55%);

    color: #169c45;
    font-size: 24px;
    font-weight: 700;
}





/* 送信ボタン　デザイン */

.form-submit {
    text-align: center;
    margin-top: 8px;
}

.form-submit button {
    width: 239px;
    height: 56px;

    background: var(--color-accent-green);
    color: #fff;

    border: none;

    font-family: var(--ja-font-notoSansJp);
    font-weight: 500;
    font-size: var(--ja-pc-size-medium);
    line-height: 1.5;
    letter-spacing: 0.05rem;

    cursor: pointer;

    transition: opacity .3s ease;
}

.form-submit button:hover {
    opacity: 0.7;
}

.form-submit button:disabled {
    background: #bdbdbd;
    color: #fff;

    opacity: 1;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .form-submit button {
        width: 300px;
        height: 56px;
    }
}